<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agregar Miembro</title>
</head>
<body>
    <header>
        <h1>Datos</h1>
    </header>
    <form th:action="@{miembro/guardar}"
          method="post"
          th:object="${miembro}">
        <label>Nombre</label>
        <input type="text"
               name="nombre"
               value="" />
        <br>
        <label>Apellidos</label>
        <input type="text"
               name="apellidos"
               value="" />
        <br>
        <label>Numero</label>
        <input type="int"
               name="numero"
               value="" />
        <br>
        <label>Membresia</label>
        <input type="text"
               name="membresia"
               value="" />
        <br>
        <label>Metodo de Pago</label>
        <input type="text"
               name="metodoPago"
               value="" />
        <br>
        <label>Fecha de Pago</label>
        <input type="text"
               name="fechaPago"
               value="" />
        <br>
        
        <input type="submit" value="Guardar" />
    </form>
    
    
    <a href="@{/miembros}">Regresar</a>
</body>
</html>